.wf-units{
    padding-left: 0px;
    padding-right: 0px;
}
.wf-units-li h2{
    font-size: 20px;
    color: #4f4f4f;
}
.wf-units-li h2:hover{
    color: #14a6ef;
}
.wf-units-li p{
    font-size: 14px;
    color: #999;
    word-break: break-all;
}
.wf-units-li span{
    color: #999;
    margin-right: 40px;
}
.wf-units-li span::before{
    margin-right: 10px;
}
.am-icon-book{
    margin-left: 30px;
}
