{% extends "base.html" %}
{% block title %}WolfBolin{% endblock %}
{% block csscode %}
    <link href="/static/css/timeline.css" rel="stylesheet"/>
    <link href="/static/css/index.css" rel="stylesheet"/>
{% endblock %}
{% block jscode %}
    <script src="/static/js/index.js"></script>
    <script src="/static/js/jquery.scrollTo.min.js"></script>
{% endblock %}
{% block content %}
    <section class="wb-cover">
        <div class="text-center" id="cover-title">
            <p>嗜之越笃 技巧越工</p>
            <h1>WolfBolin</h1>
            <button id="explore">开始探索</button>
        </div>
    </section>
    <section class="wb-section wb-white-schema">
        <div class="container">
            <div class="title text-center">
                <p>{{ section1.title.subtitle }}</p>
                <h2>{{ section1.title.title }}</h2>
            </div>
            <div class="wb-desc">
                {% for item in section1.content %}
                    {% if loop.index0 % 2 == 0 %}
                        <div class="row">
                    {% endif %}
                <div class="col-md-6 col-sm-12">
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.text }}</p>
                </div>
                {% if loop.index0 % 2 == 1 %}
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="wb-section wb-grey-schema">
        <div class="container">
            <div class="title text-center">
                <p>{{ section2.title.subtitle }}</p>
                <h2>{{ section2.title.title }}</h2>
            </div>
            <div class="wb-desc">
                <div id="indexCarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for item in section2.content %}
                            <li data-target="#indexCarousel"
                                data-slide-to="{{ loop.index0 }}"
                                {% if loop.index0 == 0 %}class="active"{% endif %}>
                            </li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for item in section2.content %}
                            <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %}">
                                <img src="{{ item.src }}" class="d-block w-100"/>
                                <div class="carousel-caption d-none d-md-block">
                                    <h3>{{ item.title }}</h3>
                                    <p>{{ item.subtitle }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a href="#indexCarousel" data-slide="prev"
                       class="carousel-control-prev" role="button">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a href="#indexCarousel" data-slide="next"
                       class="carousel-control-next" role="button">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="wb-section wb-white-schema">
        <div class="container">
            <div class="title text-center">
                <p>{{ section3.title.subtitle }}</p>
                <h2>{{ section3.title.title }}</h2>
            </div>
            <div class="wb-desc">
                {% for item in section3.content %}
                    {% if loop.index0 % 2 == 0 %}
                        <div class="row">
                    {% endif %}
                <div class="col-md-6 col-sm-12">
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.text }}</p>
                </div>
                {% if loop.index0 % 2 == 1 %}
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="wb-section wb-grey-schema">
        <div class="container">
            <div class="title text-center">
                <p>{{ section4.title.subtitle }}</p>
                <h2>{{ section4.title.title }}</h2>
            </div>
            <div class="wb-timeline">
                <ul class="tl-timeline">
                    {% for item in section4.content %}
                        <li>
                            <div class="{{ item.class }}">
                                <div class="tl-flag-wrapper">
                                    <span class="tl-flag">
                                        <a {% if item.link %}href="{{ item.link }}"{% endif %}>
                                            {{ item.title }}
                                        </a>
                                    </span>
                                    <span class="tl-time-wrapper"><span class="tl-time">{{ item.time }}</span></span>
                                </div>
                                <div class="tl-desc">{{ item.content }}</div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
    <section class="wb-section wb-white-schema">
        <div class="container">
            <div class="title text-center">
                <p>{{ section5.title.subtitle }}</p>
                <h2>{{ section5.title.title }}</h2>
            </div>
            <div class="wb-desc">
                <div class="card-deck">
                    <div class="card">
                        <h3 class="card-header">Card title</h3>
                        <div class="card-body">
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                            <p class="card-text">
                                <small class="text-muted">tag1 tag2 tag3</small>
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                            <a href="#" class="btn btn-sm btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional
                                content.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
                <div class="card-deck">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This card has even longer content than the first to show that equal
                                height action.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This card has even longer content than the first to show that equal
                                height action.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="wb-section wb-grey-schema">
        <div class="container">
            <div class="title text-center">
                <p>{{ section5.title.subtitle }}</p>
                <h2>{{ section5.title.title }}</h2>
            </div>
            <div class="wb-desc">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-4 col-sm-12">
                        {{ section5.content.desc }}
                    </div>
                    <div class="col">
                        <div class="container">
                            <div class="row justify-content-md-center">
                                {% for item in section5.content.icon %}
                                    <div class="col-xl-3 col-md-6 col-sm-3 wb-icon-box">
                                        <a href="{{ item.href }}"><img src="{{ item.img }}" class="wb-icon"/></a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="wb-section wb-white-schema">
        <div class="container">
            <div class="title text-center">
                <p>{{ section6.title.subtitle }}</p>
                <h2>{{ section6.title.title }}</h2>
            </div>
            <div class="wb-desc">
                {% for item in section6.content %}
                    {% if loop.index0 % 2 == 0 %}
                        <div class="row">
                    {% endif %}
                <div class="col-md-6 col-sm-12">
                    <h3>{{ item.title }}</h3>
                    <p>
                        {{ item.text }}
                        {% for link in item.link %}
                            <br/>{{ link.name }}: <a href="{{ link.href }}" target="_blank">{{ link.href }}</a>
                        {% endfor %}
                    </p>
                </div>
                {% if loop.index0 % 2 == 1 %}
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}