[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-cors = "*"
pymysql = "*"
dbutils = "*"
feedparser = "*"
requests = "==2.23.0"
dnspodx = "*"
sentry-sdk = "==0.14.3"
pymemobird = "*"
qcloudsms-py = "*"
pyyaml = "*"
jinja2 = "==2.11.2"
idna = "==2.9"
urllib3 = "==1.25.9"

[requires]
python_version = "3.8"
