[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-cors = "*"
coloredlogs = "*"
pymysql = "*"
dbutils = "*"
dnspodx = "*"

[requires]
python_version = "3.7"
