-i https://pypi.org/simple/
beautifulsoup4==4.9.3
blinker==1.4
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
dbutils==2.0
dnspodx==0.0.1
feedparser==6.0.2
flask-cors==3.0.9
flask==1.1.2
idna==2.8
itsdangerous==1.1.0
jinja2==2.11.2
lxml==4.6.2
markupsafe==1.1.1
pillow==8.0.1
pyasn1==0.4.8
pymemobird==0.2.2
pymysql==0.10.1
pyyaml==5.3.1
qcloudsms-py==0.1.4
qrcode==6.1
requests==2.21.0
rsa==4.6
sentry-sdk[flask]==0.19.2
sgmllib3k==1.0.0
six==1.15.0
soupsieve==2.1 ; python_version >= '3.0'
urllib3==1.24.3
werkzeug==1.0.1
