-i https://pypi.org/simple/
beautifulsoup4==4.9.3
blinker==1.4
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
dbutils==2.0
dnspodx==0.0.1
feedparser==6.0.2
flask-cors==3.0.10
flask==1.1.2
idna==2.10
itsdangerous==1.1.0
jinja2==2.11.2
lxml==4.6.2
markupsafe==1.1.1
pillow==8.1.0
pyasn1==0.4.8
pymemobird==0.2.2
pymysql==1.0.2
pyyaml==5.4.1
qcloudsms-py==0.1.4
qrcode==6.1
requests==2.25.1
rsa==4.7
sentry-sdk[flask]==0.19.5
sgmllib3k==1.0.0
six==1.15.0
soupsieve==2.2.1 ; python_version >= '3.0'
urllib3==1.26.4
werkzeug==1.0.1
