beautifulsoup4==4.10.0
blinker==1.4
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
DBUtils==3.0.2
DNSPodX==0.0.1
feedparser==6.0.8
Flask==2.0.3
Flask-Cors==3.0.10
idna==3.3
itsdangerous==2.1.0
Jinja2==3.0.3
lxml==4.8.0
MarkupSafe==2.1.0
Pillow==9.0.1
pyasn1==0.4.8
PyMySQL==1.0.2
PyYAML==6.0
qcloudsms-py==0.1.4
qrcode==7.3.1
requests==2.27.1
rsa==4.8
sentry-sdk==1.5.6
sgmllib3k==1.0.0
six==1.16.0
soupsieve==2.3.1
urllib3==1.26.8
Werkzeug==2.0.3
