/**
All the element CSS is base on AmazeUI.min.CSS
Designed by wolfbolin.
Created on 2018/01/12
 */
/**
Add new font from fonts.google.com
 */
@font-face {
    font-family: Raleway-Light;
    src: url('../fonts/Raleway-Light.ttf');
}
body{
    font-family: 'Raleway-Light', sans-serif;
}
/**
CSS for navigation bar.
 */
.wf-navbar{
    z-index: 100;
    display: block;
    background-color: rgba(40, 40, 40, 0.9);
    border-color: rgba(40, 40, 40, 0.0);
    width: 100%;
    height: 60px;
    position:fixed;
    top:0;
    left:0;
}
.wf-navbar img{
    height: 50px;
    width: 50px;
    margin: 5px 20px 5px;
    -webkit-background-size: 50px 50px;
}
.wf-navbar-btn li{
    list-style-type:none;
    display:block;
    float:right;
    line-height: 58px;
}
.wf-navbar-btn a{
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 20px;
    vertical-align: middle;
    color: #CCCCCC;
}
.wf-navbar-btn a:hover{
    color: #0E90D2;
}
.wf-navbar-btn-active{
    background-color: rgba(40, 40, 40, 1);
    color: #0E90D2 !important;
}
/**
CSS for cover.
The height of cover is controlled by JQ.
 */
.wf-cover{
    background-image: url(../index/index-home.jpg);
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.wf-cover h3{
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 2px;
    color: #808080;
}
.wf-cover h1{
    font-size: 70px;
    line-height: 85px;
    font-weight: 400;
    letter-spacing: 8px;
    word-spacing: 4px;
    margin: 30px 0px 0px;
    color: #808080;
}
.wf-cover a{
    margin-top: 100px;
    background-color: transparent;
    border: 1px solid #808080;
    font-weight: 100;
    color: #343434;
}
/**
CSS for each section.
 */
.wf-section{
    padding: 50px 0px 50px;
}
.wf-title{
    padding: 50px 0px 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.wf-title h3{
    color: #676767;
    font-weight: 100;
    font-size: 28px;
    line-height: 48px;
}
.wf-title h1{
    margin-top: 0px;
    color: #00A0E1;
    font-weight: 400;
    font-size: 38px;
    line-height: 58px;
}
.wf-content h3{
    margin: 20px 0px 15px;
    color: #373737;
    letter-spacing: 1px;
    font-weight: 400;
 }
.wf-content p{
    margin: 0px 0px 25px;
    color: #808080;
    font-weight: 400;
    font-size: 13px;
    line-height: 26px;
    word-spacing: 2px;
}
/**
CSS for each divider bar.
 */
.wf-divider{
    padding: 50px 0px;
    background-color: #6699CC;
}
.wf-divider p{
    display: inline-block;
    line-height: 45px;
    margin: 0 30px 0 0;
    font-size: 30px;
    color: #fff;
}
.wf-divider a{
    display: inline-block;
}
/**
CSS for web page foot.
 */
.wf-footer{
    background-color: #999999;
}
.wf-footer p{
    color: #fff;
}