@font-face {
    font-family: bmxuyuan;
    src: url('/static/fonts/BMXY-EN.ttf')
}

.wb-cover p {
    font-size: 2em;
    color: #404040;
    line-height: 40px;
    font-weight: 400;
    letter-spacing: 2px;
}

.wb-cover h1 {
    color: #404040;
    font-size: 6em;
    font-weight: 400;
    line-height: 90px;
    margin: 30px 0 20px;
    letter-spacing: 8px;
    font-family: bmxuyuan, sans-serif;
}

.wb-cover button {
    color: #404040;
    font-size: 1em;
    font-weight: 400;
    padding: .5em 1em;
    border-radius: 1000px;
    border: 1px solid #404040;
    background-color: transparent;
}

@media screen and (max-width: 660px) {
    .wb-cover p {
        font-size: 1em;
    }

    .wb-cover h1 {
        font-size: 3em;
        letter-spacing: 2px;
    }
}

/* Section */
.wb-section {
    padding: 2em 0 3em 0;
}

.wb-section .title p {
    font-size: 1.5em;
    font-weight: 100;
}

.wb-section .title h2 {
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 0.8em;
}

/* Desc */
.wb-white-schema {
    background-color: hsla(0, 0%, 100%, .7);
}

.wb-white-schema .title p {
    color: #404040;
}

.wb-white-schema .title h2 {
    color: #66b1ff;
}

.wb-grey-schema {
    background-color: hsla(0, 0%, 80%, .7);
}

.wb-grey-schema .title p {
    color: #000000;
}

.wb-grey-schema .title h2 {
    color: #ffffff;
}

.wb-desc h3 {
    font-size: 1.17em;
    font-weight: 500;
}

.wb-desc .row {
    margin-bottom: 2em;
}

.wb-desc .wb-icon {
    display: inline-block;
    vertical-align: middle;
    border-radius: 25%;
    width: 100px;
    height: 100px;
}

.wb-desc .wb-icon-box {
    margin: 1em 0;
    text-align: center;
}

/* Timeline */
.wb-timeline .tl-desc {
    font-size: 1em;
}

.wb-timeline .tl-flag:before{
    border: 4px solid #64AAFF;
}

/* Card */
.wb-card .card-title {
    font-size: 1em;
}

.wb-card .card-deck {
    margin-bottom: 2em;
}

.wb-card .btn {
    float: right;
}

.wb-card .wb-muted a {
    color: #6c757d;
    margin: 0.2em;
}